$font-family: monospace;

body {
	font-family: sans-serif;
}

.nav {
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.questions {
	width: 1020px;
	height: 1400px;
	background-color: #eeeeee;
	.answerstoquestions {
	list-style: none;		
	text-align: center;
	padding-left: 0;
	margin-top: -5px;
	font-family: serif;
	font-size: 28px;
	}
}

	.answer1 {
	font-size: 24px;
	font-family: $font-family; 
	color: #656d78;}
	.answer2 {
		@extend .answer1;
	}
	.answer3 {
		@extend .answer1;
	}
	.answer4a {
		@extend .answer1;
	}
	.answer4b {
		@extend .answer1;
	}
	.answer4c {
		@extend .answer1;
	}
	.answer4d {
		@extend .answer1;
	}
	.answer4e {
		@extend .answer1;
	}
	.answer5 {
		@extend .answer1;
	}
	.answer6 {
		@extend .answer1;
	}



.footer {
	width: 1020px;
	height: 100px;
	background-color: #4b494f;
	text-align: center;
	padding-top: 70px;
	span {
	font-size: 12px;
	color: #999999;
	}
}